- @title = @extension.name

.center_content
  .left_content
    %h1= h(@extension.name)
    %p= h(@extension.description)
  .right_content
    - if @extension.homepageURL
      %h3 Homepage
      %a{:href => @extension.homepageURL}=h(@extension.homepageURL)
    - if @extension.creator
      %h3 Creator
      %ul
        %li= h(@extension.creator)
    - if @extension.developers.any?
      %h3 Developers
      %ul
        - @extension.developers.each do |person|
          %li= h(person)
    - if @extension.contributors.any?
      %h3 Contributors
      %ul
        - @extension.contributors.each do |person|
          %li= h(person)
    - if @extension.translators.any?
      %h3 Translators
      %ul
        - @extension.translators.each do |person|
          %li= h(person)
  .clear
